
:root {
 
  --clr-primary-1:#623E2A;
;
   --clr-primary-2: #F4F1ED;
  --clr-primary-3: #EFEBE5;
  --clr-primary-4: #333;
  --clr-primary-5:  #020301;
  --clr-primary-6:#f5f3e7 ;
    --clr-hover-1:  #38c172;
  
  --clr-white: #fff;
  
  --clr-black: #222;
    --primary-font1: 'Lato', sans-serif;
  --primary-font2: 'Merriweather', serif;
  --primary-font3: 'Montserrat' sans-serif;
  --primary-font4: 'Oswald', sans-serif;
  --primary-font5: 'Playfair Display', serif;
  --primary-font6: 'Raleway', sans-serif;
  --primary-font7: 'Rubik Microbe', cursive;
  --primary-font8: 'Rubik Moonrocks', cursive;
  --primary-font9: 'Anton', sans-serif;
  --primary-font10: 'Babylonica', cursive;
  --primary-font11: 'Bodoni Moda', serif;
  --primary-font12:  'Calligraffitti', cursive;
  --primary-font13: 'EB Garamond', serif;
  --primary-font14:'Henny Penny', cursive;
  --primary-font15:'League Spartan', sans-serif;
  --primary-font16:'Libre Baskerville', serif;
  --primary-font17:'Nunito', sans-serif;
  --primary-font18:'Poppins', sans-serif;
  --primary-font19: 'Cinzel', serif;
  --primary-font20: 'Fauna One', serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-white);
  font-family:var(--primary-font5);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


/* section */
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);

}
.section-center-nav {
  width: 90vw;
  margin: 2rem auto;
  max-width: var(--max-width);

}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.title{
  text-align: center;
  
}
.title h3{
  text-transform:uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr-primary-1);
}
.underline{
  width: 10rem;
  height: 1rem;
  background: var(--clr-primary-8);
  margin: 0 auto;
}
.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: var(--clr-primary-1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: capitalize;
}

.btn:hover {
  background-color:var(--clr-hover-1);
}
.btn-flag {
  padding: 10px 20px;
  font-size: 16px;
  color: #007bff;
  background: none;
  border: 2px solid #007bff;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-flag:hover {
  color: white;
  background-color: #007bff;
}
.btn-rounded {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-rounded:hover {
  background-color: #0056b3;
}
.btn3D {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: var(--clr-primary-1);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn3D:hover {
  background-color: #38c172;
  box-shadow: 0px 15px 20px rgba(40, 167, 69, 0.4);
  transform: translateY(-7px);
}
header{
 position: relative;
 background:url("/1.png");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 600px;
 display: grid;
 place-items: center;
 color: var(--clr-white);
 width: 100%;
}
.header-details {
 text-align: center;
}
.header-details h5{
 font-size: 2rem;
 letter-spacing: var(--spacing);
 text-transform: uppercase;
 font-weight: 200;
}
.header-details h3{
 font-size: 5rem;
 text-transform: capitalize;
 font-weight: 200;
 margin-top: 1rem;
}
.header-details h4{
 font-size: 4rem;
 font-weight: 200;
}
.btn-header{
 background: var(--clr-white);
 color: var(--clr-primary-1);

letter-spacing: var(--spacing);
text-transform: uppercase;
margin-top: 1rem;
transition: var(--transition);
}
.btn-header:hover{
 background:var(--clr-primary-1);
 color: var(--clr-white);
}
@media (min-width:992px) {
 .header-details h3{
  font-size: 7rem;
  letter-spacing: var(--spacing);
 }
}

.welcome{
background-color: var(--clr-primary-2);
margin-top: -1rem;
padding-top: 5rem;
}
.welcome-details h3{
 font-size: 4rem;
 font-weight: 400;
 color: var(--clr-primary-1);
}
.welcome-details p{
 color: var(--clr-primary-1);
 font-weight: 200;
 font-size: 1.5rem;
}
.welcome-img img{
 width: 100%;
 height: 500px;
}
.container-welcome{
 margin-top: 3rem;
}
@media (min-width:768px) {
 .container-welcome{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
  gap: 5rem;
 }
}
.accommodations {
    background: var(--clr-primary-3);
    padding-top: 8rem;
}

.a-container {
    margin-top: 5rem;
}

.a-container img {
    width: 100%;
    height: 300px;
}

article {
    margin: 1rem;
}

article .card {
    border: 1px solid var(--clr-primary-1);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; /* Add padding for spacing */
    
}

.card h3{
 font-size: 1rem;
}

/* Apply grid layout for larger screens */
@media (min-width: 768px) {
    .a-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns */
        gap: 2rem; /* Adjust the gap between cards */
    }
}
.family{
 color: var(--clr-primary-1);
 background: var(--clr-primary-2);
 margin-top: -1rem;
padding-top: 5rem;
}
.f-details{
 display: grid;
 place-items: center;
}
.f-details h3{
 font-weight: 200;
 font-size: 4rem;
 max-width: 20rem;
}
.f-details p{
 font-size: 1.5rem;
}
.f-img img{
 width: 100%;
 height: 400px;
}
.f-img p{
 border: 1px solid var(--clr-primary-1);
 padding: 1rem;
}
@media (min-width:768px) {
 .f-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
 }
}

.last-suit {
    display: flex;
    justify-content: space-between; /* Add space between the images */
}

.first-img,
.second-img {
    flex: 1; /* Distribute available space equally between the two images */
    text-align: center; /* Center the image and text inside each div */
}

.first-img img,
.second-img img {
    max-width: 100%; 
    height: 400px;
}
.first-img p{
 border: 1px solid var(--clr-primary-1);
 padding: 1rem;
}

/* Media query for big screens */
@media (min-width: 768px) {
    .second-img {
        flex: 2; 
        
    }
    .first-img {
        margin-right: 1rem; 
    }
}

.promo{
 color: var(--clr-primary-1);
 background: var(--clr-primary-3);
 margin-top: -1rem;
 padding-top: 5rem;
}
.p-container img{
 width: 100%;
 height: 300px;
}
@media (min-width:768px) {
 .p-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
 }
}
@media (min-width:992px) {
 .p-container{
 
  grid-template-columns: repeat(3,1fr);
  
 }
}
.press{
 color: var(--clr-white);
 padding-top: 8rem;
 background: url(/7.png);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width: 100%;
 height: 600px;
}
.title-press h3{
 font-size: 2rem;
 color: var(--clr-white);
}
.container-press{
 margin-top: 5rem;
}
@media (min-width:768px) {
 .container-press{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
 }
}
@media (min-width:992px) {
 .container-press{
 
  grid-template-columns: repeat(3,1fr);
 
 }
}
.well{
 background: var(--clr-primary-1);
 color: var(--clr-white);
 padding-top: 8rem;
 margin-top: -1rem;
}
.well-title h3{
 font-weight: 200;
 font-size: 3rem;
}
.well-container article{
 border: 1px solid var(--clr-white);
 padding: 1rem;
 display: grid;
 place-items: center;
}
.well-container article span{
 font-size: 1.5rem;
 margin: 0.5rem;
}
.social-icon{
 border-radius: 50%;
 border: 1px solid var(--clr-white);
 padding: 0.5rem;
}
@media (min-width:768px) {
 .well-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
 }
}
@media (min-width:768px) {
 .well-container{
 
  grid-template-columns: repeat(3,1fr);
 
 }

}
/* Sticky Navbar styles */
.sticky-navbar {
    position: sticky;
    top: 0;
    background-color: #333; /* Background color for the sticky navbar */
    z-index: 100; /* Adjust z-index as needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for a subtle elevation effect */
    transition: background-color 0.3s ease-in-out; /* Add smooth transition for background color change */
}

.sticky-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sticky-navbar ul li {
    display: inline;
    margin-right: 20px;
}

.sticky-navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.sticky-navbar a:hover {
    text-decoration: underline;
}

/* Add a background color when scrolled */
.sticky-navbar.scrolled {
    background-color: #555; /* Change to a different color when scrolled */
}
